.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.product-table th {
  background-color: #1f04e9;
  color: white;
}
.action-buttons {
  display: flex;
  gap: 10px;
}
.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.edit-btn {
  background-color: #0aee78;
  color: white;
}
.delete-btn {
  background-color: #ff1100;
  color: white;
}
.detail-btn {
  background-color: #00a2ff;
  color: white;
}
body {
  font-family: Arial, sans-serif;
}
